<div class="row">
                <div class=" col col-md"></div>
                <div class="col-10 col-md8">
                <h2>Anadir  provedoor</h2>
                <a class="btn btn-primary float-md-right" routerLink="/proveedores">Regresar al listado</a> 
                <form [formGroup]="proveedorForm"  (ngSubmit)="onSubmit()">
                <div class="form-group">
                <label for="nombre">Nombre</label>
                <i class="fa fa-check-circle check"
                          *ngIf="proveedorForm.controls.nombre.valid"></i>
                <i class="fa fa-exclamation-circle uncheck"
                          *ngIf="proveedorForm.controls.nombre.invalid
                          && proveedorForm.controls.nombre.touched" ></i>          
                <input type="text" 
                        id="nombre"  
                        class="form-control"
                        formControlName="nombre"
                        [(ngModel)]="proveedor.nombre">
                <p class="alert alert-danger" 
                           *ngIf="proveedorForm.controls.nombre.invalid
                                   && proveedorForm.controls.nombre.touched">
                              El campo nombre es obligatorio
                </p>
                </div>
                
                <div class="form-group">
                <label for="cif">Cif</label>
                <input type="text" 
                        id="cif"  
                        class="form-control"
                        formControlName="cif"
                        [(ngModel)]="proveedor.cif">
                </div>
                
                <div class="form-group">
                <label for="direccion">direccion</label>
                <input type="text" 
                       id="direccion"  
                       class="form-control"
                       formControlName="direccion"
                       [(ngModel)]="proveedor.direccion">
                </div>
                
                <div class="form-group">
                <label for="cp">codigo postal</label>
                <input type="text" 
                       id="cp"  
                       class="form-control"
                       formControlName="cp"
                       [(ngModel)]="proveedor.cp">
                </div>
                
                <div class="form-group">
                <label for="localidad">Localidad</label>
                <input type="text" 
                       id="localidad"  
                       class="form-control"
                       formControlName="localidad"
                       [(ngModel)]="proveedor.localidad">
                </div>
                
                <div class="form-group">
                <label for="provincia">provincia</label>
                 <select  class="form-control"
                          formControlName="provincia"
                          [(ngModel)]="proveedor.provincia">
                  <option value="">Seleccione la provincia</option>
                  <option *ngFor="let provincia of provincias" [value]="provincia">{{provincia}}</option>
                 </select>
                </div>
                
                <div class="form-group">
                    <label for="telefono">telefono</label>
                    <input type="number" 
                          id="telefono"
                         class="form-control"
                         formControlName="telefono"
                         [(ngModel)]="proveedor.telefono">
                    </div>
                    
                
                <div class="form-group">
                <label for="email">Correo</label>
                <input type="email" 
                       id="email"  
                      class="form-control"
                      formControlName="email"
                      [(ngModel)]="proveedor.email">
                </div>
                
                <div class="form-group">
                <label for="contacto">contacto</label>
                <input type="text" 
                      id="contacto"
                     class="form-control"
                     formControlName="contacto"
                     [(ngModel)]="proveedor.contacto">
                </div>
                
                
                
                 <button class="btn btn-primary" 
                          [disabled]="!proveedorForm.valid">  GUardar Cambios
                        </button>
                        <a class="btn btn-danger" routerLink="/proveedores">Cancelar</a>
                        <p class="alert alert-danger " *ngIf="!proveedorForm.valid">
                          Por favor  complete todos los campos  obligatrios 
                        </p>
                
                    
                
                </form>
                <pre> Valor del formulario:{{proveedorForm.value | json}}</pre>
                <pre> Valor del formulario:{{proveedorForm.status | json}}</pre>
                <pre> Valor del Objeto:{{proveedor | json}}</pre>
                </div>
                <div class="col col-md"></div>
                </div>